*               @jodfie/ts-scripts
/.github/       @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/.scripts/      @jodfie/ts-scripts
/compose/       @jodfie/ts-scripts @jodfie/ts-apps
/docs/          @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/mkdocs.yml     @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
/README.md      @jodfie/ts-scripts @jodfie/ts-apps @jodfie/ts-docs
